<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "screen", "slides" %>
  <%= javascript_include_tag "jquery/jquery-1.2.1.pack.js", "jquery/jquery-easing.1.2.pack.js", "jquery/jquery-easing-compatibility.1.2.pack.js", "jquery/coda-slider.1.1.1.pack.js", "jquery/jquery-timers.js", "jquery/jquery-color.js" %>
  <%= javascript_include_tag "application.js" %>
	<title>Storm Control</title>	
</head>

<body>

  <div id='title'>
    <h1>Storm control</h1>
  </div>
  <div id='build'>
  	<div id="slider" class="csw">
  		<div class="panelContainer">
        <%= render :partial => 'build', :collection => @cruise_control.builds %>
  		</div>
    </div>
  </div>  
  
  <div id='status'>
    <%= render :partial => "status", :locals => { :builds => @cruise_control.builds } %>
  </div>
</body>
</html>
